<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-3">Danh sách sản phẩm</h1>
              <p class="lead">Sử dụng react js lấy dữ liệu từ node js</p>
              <hr class="my-2">
          </div>
      </div>

      <div class="container">
          <div class="row">
              <!-- mỗi cột là một sản phẩm -->
              <div class="col-4">
                  <div class="card text-left">
                    <img class="card-img-top" src="http://baoquocte.vn/stores/news_dataimages/phamthuan/072016/07/16/164902_12_thac_ba_tren_nui-11_13_28_610.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title float-left">Tên sản phẩm</h5>
                      <h5 class="card-title float-right">500000</h5>
                    </div>
                  </div>
              </div>

            <!-- mỗi cột là một sản phẩm -->
            <div class="col-4">
                <div class="card text-left">
                    <img class="card-img-top" src="http://baoquocte.vn/stores/news_dataimages/phamthuan/072016/07/16/164902_12_thac_ba_tren_nui-11_13_28_610.jpg" alt="">
                    <div class="card-body">
                    <h5 class="card-title float-left">Tên sản phẩm</h5>
                    <h5 class="card-title float-right">500000</h5>
                    </div>
                </div>
            </div>

            <!-- mỗi cột là một sản phẩm -->
            <div class="col-4">
                <div class="card text-left">
                    <img class="card-img-top" src="http://baoquocte.vn/stores/news_dataimages/phamthuan/072016/07/16/164902_12_thac_ba_tren_nui-11_13_28_610.jpg" alt="">
                    <div class="card-body">
                    <h5 class="card-title float-left">Tên sản phẩm</h5>
                    <h5 class="card-title float-right">500000</h5>
                    </div>
                </div>
            </div>

            <!-- mỗi cột là một sản phẩm -->
            <div class="col-4">
                <div class="card text-left">
                    <img class="card-img-top" src="http://baoquocte.vn/stores/news_dataimages/phamthuan/072016/07/16/164902_12_thac_ba_tren_nui-11_13_28_610.jpg" alt="">
                    <div class="card-body">
                    <h5 class="card-title float-left">Tên sản phẩm</h5>
                    <h5 class="card-title float-right">500000</h5>
                    </div>
                </div>
            </div>
          </div>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>